/Graph Generator/nbproject/private/
/Query Generator/nbproject/private/
Query Generator/nbproject/project.xml
Query Generator/build.xml
Query Generator/manifest.mf
Query Generator/nbproject/build-impl.xml
Query Generator/nbproject/genfiles.properties
Query Generator/nbproject/project.properties
Report 1/report.aux
Report 1/report.log
Report 1/report.out
Report 1/report.synctex.gz
/Query Generator/build/